<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="12dc2eb6-39d2-4ea3-b163-309a8acbf485" Publisher="CN=ANKIT" Version="1.0.0.0" />
  <Properties>
    <DisplayName>play.Windows</DisplayName>
    <PublisherDisplayName>ANKIT</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="play.Windows.App">
      <m2:VisualElements DisplayName="play.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="play.Windows" ForegroundText="light" BackgroundColor="white">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#00b2f0" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>